/*kereső oldalhoz tartozó css*/
@import "style.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3b3939;
}

.navbar{
position: sticky;
top: 0;
z-index: 1;

}
.input-group{
  max-width: 300px;

}

article {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
}
.navbar{
  margin:30px;
}

#content{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#listaPage{
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 2rem;

}
#favorite{
  min-width: fit-content;
  background-color: rgb(243, 149, 109);
  border: 1px solid rgb(216, 109, 98);
}
.btn{
  min-width: fit-content;
  background-color: rgb(243, 149, 109);
  border: 1px solid rgb(216, 109, 98);
} 

